<!--slots-->

<div class="droite g50 border colboxh">
    <h2 class="padgd border textc main-title l301">Slots</h2>
    <ul>
        {{#each actor.data.data.metaarmure as |items key|}}
        <row class="flexv pad10">
        <label class="label100 mar10">Tête</label>
        <label class="label100 mar10" >{{items.data.slots.tete}}</label>
        </row>
        <row class="flexv pad10">
        <label class="label100 mar10" >Bras gauche</label>
        <label class="label100 mar10" >{{items.data.slots.brasgauche}}</label>
        </row>
        <row class="flexv pad10">
        <label class="label100 mar10" >Bras droit</label>
        <label  class="label100 mar10">{{items.data.slots.brasdroit}}</label>
        </row>
        <row class="flexv pad10">
        <label class="label100 mar10" >Torse</label>
        <label class="label100 mar10" >{{items.data.slots.torse}}</label>
         </row>
        <row class="flexv pad10">
        <label class="label100 mar10">Jambe gauche</label>
        <label class="label100 mar10" >{{items.data.slots.jambegauche}}</label>
        </row>
        <row class="flexv pad10">
        <label class="label100 mar10" >Jambe droite</label>
        <label class="label100 mar10" >{{items.data.slots.jambedroite}}</label>
        </row>
        {{/each}}
    </ul>
</div>

<!--type armure-->

<div  class="g50 border colboxh">
    <h2 class="padgd border textc main-title l301">Meta-Armure</h2>
    {{#each actor.data.data.metaarmure as |item key|}}
    <div  class="item flexv" data-item-id={{item._id}}>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="32" width="32" />
        <label >{{item.name}}</label>
        <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-devare" title="Devare Item"><i class="fas fa-trash"></i></a>
    </div>
    {{/each}}
</div>

<!--overdrive-->

<div class="g50 border colboxh" >
    <h2 class="padgd border textc main-title l301">Overdrive</h2>
        {{#each actor.data.data.metaarmure as |items key|}}
        <label  class="label100 mar10">{{items.data.overdrives.od1}}</label>

        <label  class="label100 mar10">{{items.data.overdrives.od2}}</label>

        <label  class="label100 mar10">{{items.data.overdrives.od3}}</label>

        <label  class="label100 mar10">{{items.data.overdrives.od4}}</label>
        {{/each}}
</div>

<div class="flexh droite border colboh pad10" >

    <h2 class="padgd border textc main-title">Description</h2>

    {{#each actor.data.data.metaarmure as |items key|}}
    <p>{{items.data.description}}</p>
    {{/each}}

</div>

<div class="flexh droite border colboh pad10" >

    <h2 class="padgd border textc main-title">Capacité</h2>

    {{#each actor.data.data.metaarmure as |items key|}}
    <p>{{items.data.capacite}}</p>
    {{/each}}

</div>