<body>
    <!--Nods-->
    <div class="g50 droite colboxh">
        <table class="border">
            <tr>
                <th colspan=3>
                    <h2 class="main-title l301">Nods</h2>
                </th>
            </tr>
            <tr>
                <th>Soins</th>
                <td>
                    <input class="label50 mar10" name="data.nods.soins.sact" type="number"
                        value="{{actor.data.data.nods.soins.sact}}" />
                    /
                    <input class="label50 mar10" name="data.nods.soins.smax" type="number"
                        value="{{actor.data.data.nods.soins.smax}}" />
                </td>
                <td><a class="jetdenodss label50"><i class="fas fa-dice"></i></a></td>
            </tr>
            <tr>
                <th>Armure</th>
                <td>
                    <input class="label50 mar10" name="data.nods.armure.aact" type="number"
                        value="{{actor.data.data.nods.armure.aact}}" />
                    /
                    <input class="label50 mar10" name="data.nods.armure.amax" type="number"
                        value="{{actor.data.data.nods.armure.amax}}" />
                </td>
                <td><a class="jetdenodsa label50"><i class="fas fa-dice"></i></a></td>
            </tr>
            <tr>
                <th>Energie</th>
                <td>
                    <input class="label50 mar10" name="data.nods.energie.eact" type="number"
                        value="{{actor.data.data.nods.energie.eact}}" />
                    /
                    <input class="label50 mar10" name="data.nods.energie.emax" type="number"
                        value="{{actor.data.data.nods.energie.emax}}" />
                </td>
                <td><a class="jetdenodse label50"><i class="fas fa-dice"></i></a></td>
            </tr>

        </table>
    </div>
    <!--heroisme-->
    <div class="g50 border mar10">
        <h2 class="padgd border textc main-title l301">Héroisme</h2>
        <row class="flexv pad10">
            <label class="label200 mar10">Point d'héroisme</label>
            <input class="label50 mar10" name="data.heroisme.hact" type="number"
                value="{{actor.data.data.heroisme.hact}}" />
            <label class="label50 mar10">/6</label>
        </row>
    </div>
    <!--style de combat-->
    <div class="g50 border mar10">
        <h2 class="padgd border textc main-title l301">Style de combat</h2>
        <div class=" pad10">
            <select name="data.stycom" value="{{actor.data.data.stycom}}">
                {{#select actor.data.data.stycom}}
                <option value="Standard">Standard</option>
                <option value="Agressif">Agressif</option>
                <option value="Defensif">Défensif</option>
                <option value="Couvert">Mise à couvert</option>
                <option value="precis">Précis</option>
                <option value="Pilonnage">Pilonnage</option>
                <option value="Puissant">Puissant</option>
                <option value="Suppression">Suppression</option>
                <option value="Ambidextere">Ambidextere</option>
                <option value="Akimbo">Akimbo</option>
                {{/select}}
            </select>

            <textarea rows=5 name="data.stycomt">{{actor.data.data.stycomt}}</textarea>
        </div>
    </div>
    <!--tableau arme de contact-->
    <div class="colboxh">
        <table class="border ">
            <tr>
                <th colspan=5>
                    <h2 class=" textc main-title">Arme de contact</h2>
                </th>
            </tr>
            <tr>
                <th class="textc">Arme</th>
                <th class="textc">Dégats</th>
                <th class="textc">Violence</th>
                <th class="textc">Portée</th>
                <th class="textc"></th>
            </tr>
            {{#each actor.data.data.arme_de_contact as |item key|}}
            <tr class="item" data-item-id={{item._id}}>
                <td class="textc"><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="32"
                        width="32" />{{item.name}}
                </td>

                <td class="textc">{{item.data.degats}}D6 +{{item.data.special.bondeg.degpur}}</td>
                <td class="textc">{{item.data.violence}}D6 +{{item.data.special.bonvio.degpur}}</td>
                <td class="textc">{{item.data.portee}}</td>
                <td class="textc">
                    <a class="jetdataccac"><i class="fas fa-dice"></i></a>
                    <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-devare" title="Devare Item"><i class="fas fa-trash"></i></a>
                </td>

            </tr>
            {{/each}}
        </table>
    </div>
    <!--tableau arme a distance-->
    <div class="colboxh">
        <table class="border ">
            <tr>
                <th colspan=5>
                    <h2 class=" textc main-title">Arme à distance</h2>
                </th>
            </tr>
            <tr>
                <th class="textc">Arme</th>
                <th class="textc">Dégats</th>
                <th class="textc">Violence</th>
                <th class="textc">Portée</th>
                <th class="textc"></th>
            </tr>
            {{#each actor.data.data.arme_à_distance as |item key|}}
            <tr class="item" data-item-id={{item._id}}>
                <td class="textc"><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="32"
                        width="32" />{{item.name}}
                </td>

                <td class="textc">{{item.data.degats}}D6 +{{item.data.special.bondeg.degpur}}</td>
                <td class="textc">{{item.data.violence}}D6 +{{item.data.special.bonvio.degpur}}</td>
                <td class="textc">{{item.data.portee}}</td>
                <td class="textc">
                    <a class="jetdatacdis"><i class="fas fa-dice"></i></a>
                    <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-devare" title="Devare Item"><i class="fas fa-trash"></i></a>
                </td>

            </tr>
            {{/each}}
        </table>
    </div>
    <!--tableau arme improvisé-->
    <div class="colboxh">
    <table class="border ">
        <tr>
            <th colspan=6> <h2 class=" textc main-title">Arme improvisée</h2></th>
        </tr>
        <tr>
            <th>OD requis</th>
            <th>Types</th>
            <th>Dégâts</th>
            <th>Violence</th>
            <th colspan=2>Utilisations</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Lampadaire, panneau, petit arbre, cadavre, etc.</td>
            <td>{{actor.data.data.armeimpr.val4}}D6</td>
            <td>{{actor.data.data.armeimpr.val4}}D6</td>
            <td>3</td>
            <td>
                <a class="jetdatacimp1"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>Citerne d'essence, transformateur électrique, etc.</td>
            <td>{{actor.data.data.armeimpr.val2}}D6</td>
            <td>{{actor.data.data.armeimpr.val5}}D6</td>
            <td>1</td>
            <td>
                <a class="jetdatacimp2"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>Moto, petit véhicule, etc.</td>
            <td>{{actor.data.data.armeimpr.val4}}D6</td>
            <td>{{actor.data.data.armeimpr.val4}}D6</td>
            <td>2</td>
            <td>
                <a class="jetdatacimp3"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>Arbre, poteau en béton, etc.</td>
            <td>{{actor.data.data.armeimpr.val6}}D6</td>
            <td>{{actor.data.data.armeimpr.val4}}D6</td>
            <td>3</td>
            <td>
                <a class="jetdatacimp4"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>Petit château d'eau, cuve industrielle pleine, etc.</td>
            <td>{{actor.data.data.armeimpr.val4}}D6</td>
            <td>{{actor.data.data.armeimpr.val6}}D6</td>
            <td>1</td>
            <td>
                <a class="jetdatacimp5"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>Voiture, véhicule de taille moyenne, etc.</td>
            <td>{{actor.data.data.armeimpr.val5}}D6</td>
            <td>{{actor.data.data.armeimpr.val5}}D6</td>
            <td>2</td>
            <td>
                <a class="jetdatacimp6"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>3</td>
            <td>Charpente métallique, gros arbre, etc.</td>
            <td>{{actor.data.data.armeimpr.val7}}D6</td>
            <td>{{actor.data.data.armeimpr.val5}}D6</td>
            <td>3</td>
            <td>
                <a class="jetdatacimp7"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>3</td>
            <td>Façade de maison, morceau de route, rails, etc.</td>
            <td>{{actor.data.data.armeimpr.val5}}D6</td>
            <td>{{actor.data.data.armeimpr.val7}}D6</td>
            <td>1</td>
            <td>
                <a class="jetdatacimp8"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>3</td>
            <td>Camionnette, gros 4x4, etc.</td>
            <td>{{actor.data.data.armeimpr.val6}}D6</td>
            <td>{{actor.data.data.armeimpr.val6}}D6</td>
            <td>2</td>
            <td>
                <a class="jetdatacimp9"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>4</td>
            <td>Façade de petit immeuble, remorque de camion, etc.</td>
            <td>{{actor.data.data.armeimpr.val7}}D6</td>
            <td>{{actor.data.data.armeimpr.val9}}D6</td>
            <td>1</td>
            <td>
                <a class="jetdatacimp10"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>4</td>
            <td>Camion, petit véhicule de chantier, etc.</td>
            <td>{{actor.data.data.armeimpr.val8}}D6</td>
            <td>{{actor.data.data.armeimpr.val8}}D6</td>
            <td>2</td>
            <td>
                <a class="jetdatacimp11"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>5</td>
            <td>Façade d'immeuble, grue, container plein, etc.</td>
            <td>{{actor.data.data.armeimpr.val10}}D6</td>
            <td>{{actor.data.data.armeimpr.val12}}D6</td>
            <td>1</td>
            <td>
                <a class="jetdatacimp12"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

        <tr>
            <td>5</td>
            <td>Yacht de 20 mètres, blindé, mécha-armure, etc.</td>
            <td>{{actor.data.data.armeimpr.val11}}D6</td>
            <td>{{actor.data.data.armeimpr.val11}}D6</td>
            <td>2</td>
            <td>
                <a class="jetdatacimp13"><i class="fas fa-dice"></i></a>
            </td>
        </tr>

    </table>
</div>
</body>