<body>
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128" />

    <h1 class="texte"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
    
 
    <!-- défense réaction init -->

    <div class=defense>

        <label class=label100>Défense</label>
        <label class=label100>{{actor.data.data.defense}}</label>

        <label class=label100>Réaction</label>
        <label class=label100>{{actor.data.data.reaction}}</label>

        <label class=label100>Initiative</label>
        <label class=label100>{{actor.data.data.initiative}}</label>
        <a class="jetdinit" ><i class="fas fa-dice"></i></a>
    </div>


    <!--jet de dé-->

    <div class=jetdecss>
        <label>Jet</label>
        <select name="data.valeurde1" value="{{valeurde1}}">
            {{#select actor.data.data.valeurde1}}
            <option value="0"></option>
            <option value="Deplacement">Déplacement</option>
            <option value="Force">Force</option>
            <option value="Endurance">Endurance</option>
            <option value="Hargne">Hargne</option>
            <option value="Combat">Combat</option>
            <option value="Instinct">Instinct</option>
            <option value="Tir">Tir</option>
            <option value="Savoir">Savoir</option>
            <option value="Technique">Technique</option>
            <option value="Aura">Aura</option>
            <option value="Parole">Parole</option>
            <option value="Sangfroid">Sangfroid</option>
            <option value="Discretion">Discretion</option>
            <option value="Dexterite">Dexterite</option>
            <option value="Perception">Perception</option>
            {{/select}}
        </select>
        <select name="data.valeurde2" value="{{valeurde2}}">
            {{#select actor.data.data.valeurde2}}
            <option value="0"></option>
            <option value="Deplacement">Déplacement</option>
            <option value="Force">Force</option>
            <option value="Endurance">Endurance</option>
            <option value="Hargne">Hargne</option>
            <option value="Combat">Combat</option>
            <option value="Instinct">Instinct</option>
            <option value="Tir">Tir</option>
            <option value="Savoir">Savoir</option>
            <option value="Technique">Technique</option>
            <option value="Aura">Aura</option>
            <option value="Parole">Parole</option>
            <option value="Sangfroid">Sangfroid</option>
            <option value="Discretion">Discretion</option>
            <option value="Dexterite">Dexterite</option>
            <option value="Perception">Perception</option>
            {{/select}}
        </select>
        <select name="data.valeurde3" value="{{valeurde3}}">
            {{#select actor.data.data.valeurde3}}
            <option value="0"></option>
            <option value="Deplacement">Déplacement</option>
            <option value="Force">Force</option>
            <option value="Endurance">Endurance</option>
            <option value="Hargne">Hargne</option>
            <option value="Combat">Combat</option>
            <option value="Instinct">Instinct</option>
            <option value="Tir">Tir</option>
            <option value="Savoir">Savoir</option>
            <option value="Technique">Technique</option>
            <option value="Aura">Aura</option>
            <option value="Parole">Parole</option>
            <option value="Sangfroid">Sangfroid</option>
            <option value="Discretion">Discretion</option>
            <option value="Dexterite">Dexterite</option>
            <option value="Perception">Perception</option>
            {{/select}}
        </select>
        <select name="data.valeurde4" value="{{valeurde4}}">
            {{#select actor.data.data.valeurde4}}
            <option value="0"></option>
            <option value="Deplacement">Déplacement</option>
            <option value="Force">Force</option>
            <option value="Endurance">Endurance</option>
            <option value="Hargne">Hargne</option>
            <option value="Combat">Combat</option>
            <option value="Instinct">Instinct</option>
            <option value="Tir">Tir</option>
            <option value="Savoir">Savoir</option>
            <option value="Technique">Technique</option>
            <option value="Aura">Aura</option>
            <option value="Parole">Parole</option>
            <option value="Sangfroid">Sangfroid</option>
            <option value="Discretion">Discretion</option>
            <option value="Dexterite">Dexterite</option>
            <option value="Perception">Perception</option>
            {{/select}}
        </select>

        <label>Bonus/malus</label>
        <input class="champ1" name="data.bonusmalus" type="number" value="{{actor.data.data.bonusmalus}}"/>
        <a class="jetde"><i class="fas fa-dice"></i></a>
    </div>

       <!-- score de combat -->
       <div class=defense>
        <label class=label100>Santé</label>
        <input class="champ1" name="data.santeact" type="number" value="{{actor.data.data.santeact}}" />
        <label class=label100>/{{actor.data.data.santemax}}</label>

        <label class=label100>Espoire</label>
        <input class="champ1" name="data.espoireact" type="number" value="{{actor.data.data.espoireact}}" />
        <label class=label100>/{{actor.data.data.espoiremax}}</label>
        <input class="champ1" name="data.espoirmod" type="number" value="{{actor.data.data.espoirmod}}" />

        <label class=label100>Armure</label>
        <input class="champ1" name="data.armureact" type="number" value="{{actor.data.data.armureact}}" /> 
        
        {{#each actor.data.data.metaarmure as |items key|}}
        <label class=label100>/{{items.data.pointdarmure}}</label>
        {{/each}}

        <label class=label100>Energie</label>
        <input class="champ1" name="data.energieact" type="number" value="{{actor.data.data.energieact}}" /> 
        
        {{#each actor.data.data.metaarmure as |items key|}}
        <label class=label100>/{{items.data.pointdenergie}}</label>
        {{/each}}

        <label class=label100>CDF</label> 

        {{#each actor.data.data.metaarmure as |items key|}}
        <label class=label100>{{items.data.champdeforce}}</label>
        {{/each}}

    </div>


        <!--menu-->
        <div class="content flex3">
            {{!-- Sheet Tab Navigation --}}
            
            <button class=champ2 id="generale">Générale</button>
            <button class=champ2 id="armure">Armure</button>
            <button class=champ2 id="combat">Combat</button>
            <button class=champ2 id="ia">IA</button>
            <button class=champ2 id="iai">IA incarnée</button>
            <button class=champ2 id="historique">Historique</button>
         
         
         
    
            {{!-- Sheet Body --}}
            
                <div id="tab1" class="tab" display="none">
                    {{> "systems/knight/template/sheets/pj-composant/pj-generale-sheet.html"}}
                </div>

                <div id=tab2 class="tab" display="none">
                    {{> "systems/knight/template/sheets/pj-composant/pj-armure-sheet.html"}}
                </div>

                <div id=tab3 class="tab" display="none">
                    {{> "systems/knight/template/sheets/pj-composant/pj-ia-sheet.html"}}
                </div>

                <div id=tab4 class="tab" display="none">
                    {{> "systems/knight/template/sheets/pj-composant/pj-iai-sheet.html"}}
                </div>

                <div id=tab5 class="tab" display="none">
                    {{> "systems/knight/template/sheets/pj-composant/pj-historique-sheet.html"}}
                </div>

                <div id=tab6 class="tab" display="none">
                    {{> "systems/knight/template/sheets/pj-composant/pj-combat-sheet.html"}}
                </div>
    </div>
</body>