<!--tableau experience-->

<table class="iia">
    <caption class="titre" >Experience</caption>
    <tr>
        <th class="titre">Actuel</th>
        <th class="titre" >Utilisé</th>
        <th class="titre" >Total</th>
    </tr>
    <tr>
        <td><input class="champ1" name="data.expa" type="text" value="{{data.data.expa}}" /></td>
        <td><input class="champ1" name="data.expu" type="text" value="{{data.data.expu}}" /></td>
        <td><input class="champ1" name="data.expt" type="text" value="{{data.data.expt}}" /></td>
    </tr>

</table>

<!--tableau pg-->

<table class="iia">
    <caption class="titre" >PG</caption>
    <tr>
        <th class="titre">Actuel</th>
        <th class="titre" >Utilisé</th>
        <th class="titre" >Total</th>
    </tr>
    <tr>
        <td><input class="champ1" name="data.pga" type="text" value="{{data.data.pga}}" /></td>
        <td><input class="champ1" name="data.pgu" type="text" value="{{data.data.pgu}}" /></td>
        <td><input class="champ1" name="data.pgt" type="text" value="{{data.data.pgt}}" /></td>
    </tr>

</table>

<!--atout-->

<div class="iia">
    <h3 class="titre">Atout</h3>
        <textarea rows=3 name="data.avant.av1">{{data.data.avant.av1}}</textarea>

        <textarea rows=3 name="data.avant.av2">{{data.data.avant.av2}}</textarea>

        <textarea rows=3 name="data.avant.av3">{{data.data.avant.av3}}</textarea>

        <textarea rows=3 name="data.avant.av4">{{data.data.avant.av4}}</textarea>
</div>

<!--Inconvénients-->

<div class="iia">
    <h3 class="titre">Inconvénients</h3>
        <textarea rows=3 name="data.incon.in1">{{data.data.incon.in1}}</textarea>

        <textarea rows=3 name="data.incon.in2">{{data.data.incon.in2}}</textarea>

        <textarea rows=3 name="data.incon.in3">{{data.data.incon.in3}}</textarea>

        <textarea rows=3 name="data.incon.in4">{{data.data.incon.in4}}</textarea>
</div>

<!--Langues-->

<div class="iia">
    <h3 class="titre">Langues</h3>
        <textarea rows=3 name="data.langues">{{data.data.langues}}</textarea>
</div>

<!--Contact-->

<div class="iia">
    <h3 class="titre">Contact</h3>
        <textarea rows=3 name="data.contact.cnote">{{data.data.contact.cnote}}</textarea>
</div>

<!--Notes-->

<div class="iia">
    <h3 class="titre">Notes</h3>
        <textarea rows=3 name="data.noteh">{{data.data.noteh}}</textarea>
</div>

<!--Blessures graves-->

<div class="iia">
    <h3 class="titre">Blessures graves</h3>
        <textarea rows=3 name="data.blesgr">{{data.data.blesgr}}</textarea>
</div>

<!--Traumas-->

<div class="iia">
    <h3 class="titre">Traumas</h3>
        <textarea rows=3 name="data.traumas">{{data.data.traumas}}</textarea>
</div>