<!--identité IA-->
<div>
    <h3>Identité</h3>
    <label>Code de fabrication</label>
    <input name="data.iacdf" type="text" value="{{actor.data.data.iacdf}}" />

    <label>Surnom</label>
    <input name="data.iasurnom" type="text" value="{{actor.data.data.iasurnom}}" />
</div>

<!--caractère-->

<div>
    <h3>Caractère</h3>
    <textarea rows=4 name="data.iacarac">{{actor.data.data.iacarac}}</textarea>

</div>

<!--Atout-->

<div>
    <h3>Atout</h3>
    <textarea rows=4 name="data.iaatout">{{actor.data.data.iaatout}}</textarea>
</div>

<!--Notes-->

<div>
    <h3>Notes</h3>
    <textarea rows=4 name="data.ianote">{{actor.data.data.ianote}}</textarea>
</div>

<!--Handicap-->

<div>
    <h3>Handicap</h3>
    <textarea rows=4 name="data.iahand">{{actor.data.data.iahand}}</textarea>
</div>