<!--identité IA-->
<div class="gauche border colboxh">
    <h2 class="padgd border textc main-title l301">Identité</h2>
    <row class="flexv pad10">
        <label class="label100 mar10">Code de fabrication</label>
        <input name="data.iaicdf" type="text" value="{{actor.data.data.iaicdf}}" />
    </row>
    <row class="flexv pad10">
        <label class="label100 mar10">Surnom</label>
        <input name="data.iaisurnom" type="text" value="{{actor.data.data.iaisurnom}}" />
    </row>
    <row class="flexv pad10">
        <label class="label100 mar10">Propriétaire</label>
        <input name="data.iaiprop" type="text" value="{{actor.data.data.iaiprop}}" />
    </row>
</div>

<!--caractère-->

<div class="droite border colboxh">
    <h2 class="padgd border textc main-title l301">Caractère</h2>
    <div class="pad10">
        <textarea class="l300" rows=11 name="data.iaicarac">{{actor.data.data.iaicarac}}</textarea>
    </div>
</div>

<!--Atout-->

<div class="gauche border colboxh">
    <h2 class="padgd border textc main-title l301">Atout</h2>
    <div class="pad10">
        <textarea class="l300" rows=5 name="data.iaiatout">{{actor.data.data.iaiatout}}</textarea>
    </div>
</div>

<!--Notes-->

<div class="droite border colboxh">
    <h2 class="padgd border textc main-title l301">Notes</h2>
    <div class="pad10">
        <textarea class="l300" rows=5 name="data.iainote">{{actor.data.data.iainote}}</textarea>
    </div>
</div>

<!--Handicap-->

<div class="gauche border colboxh">
    <h2 class="padgd border textc main-title l301">Handicap</h2>
    <div class="pad10">
        <textarea class="l300" rows=5 name="data.iaihand">{{actor.data.data.iaihand}}</textarea>
    </div>
</div>