
<!--identité IA-->
<div class=iia>
    <h3 class="titre" >Identité</h3>
    <label class=label300>Code de fabrication</label>
    <input class="champ2" name="data.iacdf" type="text" value="{{data.data.iacdf}}" />
    <BR />

    <label class=label300>Surnom</label>
    <input class="champ2" name="data.iasurnom" type="text" value="{{data.data.iasurnom}}" />
    <BR />
</div>

<!--caractère-->

<div class=iia>
    <h3 class="titre" >Caractère</h3>
    <textarea rows=4 name="data.iacarac">{{data.data.iacarac}}</textarea>
    <BR />
</div>

<!--Atout-->

<div class=iia>
    <h3 class="titre" >Atout</h3>
    <textarea rows=4 name="data.iaatout">{{data.data.iaatout}}</textarea>
    <BR />
</div>

<!--Notes-->

<div class=iia>
    <h3 class="titre" >Notes</h3>
    <textarea rows=4 name="data.ianote">{{data.data.ianote}}</textarea>
    <BR />
</div>

<!--Handicap-->

<div class=iia>
    <h3 class="titre" >Handicap</h3>
    <textarea rows=4 name="data.iahand">{{data.data.iahand}}</textarea>
    <BR />
</div>


