
<!--identité IA-->
<div class=iia>
    <h3 class="titre" >Identité</h3>
    <label class=label300>Code de fabrication</label>
    <input class="champ2" name="data.iaicdf" type="text" value="{{actor.data.data.iaicdf}}" />
    <BR />

    <label class=label300>Surnom</label>
    <input class="champ2" name="data.iaisurnom" type="text" value="{{actor.data.data.iaisurnom}}" />
    <BR />

    <label class=label300>Propriétaire</label>
    <input class="champ2" name="data.iaiprop" type="text" value="{{actor.data.data.iaiprop}}" />
    <BR />

</div>

<!--caractère-->

<div class=iia>
    <h3 class="titre" >Caractère</h3>
    <textarea rows=5 name="data.iaicarac">{{actor.data.data.iaicarac}}</textarea>
    <BR />
</div>

<!--Atout-->

<div class=iia>
    <h3 class="titre" >Atout</h3>
    <textarea rows=5 name="data.iaiatout">{{actor.data.data.iaiatout}}</textarea>
    <BR />
</div>

<!--Notes-->

<div class=iia>
    <h3 class="titre" >Notes</h3>
    <textarea rows=5 name="data.iainote">{{actor.data.data.iainote}}</textarea>
    <BR />
</div>

<!--Handicap-->

<div class=iia>
    <h3 class="titre" >Handicap</h3>
    <textarea rows=5 name="data.iaihand">{{actor.data.data.iaihand}}</textarea>
    <BR />
</div>


