<!--identité IA-->
<div >
    <h3 >Identité</h3>
    <label >Code de fabrication</label>
    <input  name="data.iaicdf" type="text" value="{{actor.data.data.iaicdf}}" />
    

    <label >Surnom</label>
    <input  name="data.iaisurnom" type="text" value="{{actor.data.data.iaisurnom}}" />
 

    <label >Propriétaire</label>
    <input  name="data.iaiprop" type="text" value="{{actor.data.data.iaiprop}}" />
</div>

<!--caractère-->

<div >
    <h3 >Caractère</h3>
    <textarea rows=5 name="data.iaicarac">{{actor.data.data.iaicarac}}</textarea>
</div>

<!--Atout-->

<div >
    <h3 >Atout</h3>
    <textarea rows=5 name="data.iaiatout">{{actor.data.data.iaiatout}}</textarea>
</div>

<!--Notes-->

<div >
    <h3 >Notes</h3>
    <textarea rows=5 name="data.iainote">{{actor.data.data.iainote}}</textarea>
</div>

<!--Handicap-->

<div >
    <h3 >Handicap</h3>
    <textarea rows=5 name="data.iaihand">{{actor.data.data.iaihand}}</textarea>
</div>