<!--identité IA-->
<div class="gauche border colboxh">
    <h2 class="padgd border textc main-title l301">Identité</h2>
    <row class="flexv pad10">
        <label class="label100 mar10">Code de fabrication</label>
        <input class="label200" name="data.iacdf" type="text" value="{{actor.data.data.iacdf}}" />
    </row>
    <row class="flexv pad10">
        <label class="label100 mar10">Surnom</label>
        <input class="label200" name="data.iasurnom" type="text" value="{{actor.data.data.iasurnom}}" />
    </row>
</div>

<!--caractère-->

<div class="droite border colboxh">
    <h2 class="padgd border textc main-title l301">Caractère</h2>
    <div class="pad10">
        <textarea class="l300" rows=7 name="data.iacarac">{{actor.data.data.iacarac}}</textarea>
    </div>
</div>

<!--Atout-->

<div class="gauche border colboxh">
    <h2 class="padgd border textc main-title l301">Atout</h2>
    <div class="pad10">
        <textarea class="l300" rows=5 name="data.iaatout">{{actor.data.data.iaatout}}</textarea>
    </div>
</div>

<!--Notes-->

<div class="droite border colboxh">
    <h2 class="padgd border textc main-title l301">Notes</h2>
    <div class="pad10">
        <textarea class="l300" rows=5 name="data.ianote">{{actor.data.data.ianote}}</textarea>
    </div>
</div>

<!--Handicap-->

<div class="gauche border colboxh">
    <h2 class="padgd border textc main-title l301">Handicap</h2>
    <div class="pad10">
        <textarea class="l300" rows=5 name="data.iahand">{{actor.data.data.iahand}}</textarea>
    </div>
</div>