<form class="{{cssClass}}" autocomplete="off">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </h1>
        

    <div class=defense >
        <label class=label300>PG</label>
        <input class=champ2 name="data.pg" type="text" value="{{data.data.pg}}" placeholder=""/>
    </div>


    <div class=defense >
    <label>Déscription</label>
    </br>
    <textarea rows=5 name="data.description">{{data.data.description}}</textarea>
    </div>


    <div class=defense>
    <label>Dégats</label>
        <input name="data.degats" type="text" value="{{data.data.degats}}" placeholder=""/>
        <p>D6+</p>
        <input name="data.special.bondeg.degpur" type="text" value="{{data.data.special.bondeg.degpur}}" placeholder=""/>
    
    <label>Violence</label>
        <input name="data.violence" type="text" value="{{data.data.violence}}" placeholder=""/>
        <p>D6+</p>
        <input name="data.special.bonvio.degpur" type="text" value="{{data.data.special.bonvio.degpur}}" placeholder=""/>
    </div>
    <div class=defense>
    <label class=label300>Portée</label>
    <select class=champ2 name="data.portee" value="{{data.data.portee}}">
        {{#select data.data.portee}}
        <option value="Contact">Contact (0-2m)</option>
        <option value="Courte">Courte (2 à 15m)</option>
        <option value="Moyenne">Moyenne (15 à 25m)</option>
        <option value="Longue">Longue (50 à 300m)</option>
        <option value="Lointaine">Lointaine (+ de 300m)</option>
        {{/select}}
    </select>
   
    <label>Énergie</label>
        <input name="data.energie" type="text" value="{{data.data.energie}}" placeholder=""/>
    </div>

    <table>
        <tr><th colspan=4>Effets</th></tr>
        <tr>
            <td class=cellule2 ><button type=action class=champ4 name="data.data.effet.anti-anatheme.etat" value={{data.data.data.effet.anti-anatheme.etat}}>Anti-anathème</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action class=champ4 name="data.data.effet.anti-vehicule.etat" value={{data.data.data.effet.anti-vehicule.etat}}>Anti-véhicule</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.artillerie.etat" value={{data.data.data.effet.artillerie.etat}}>Artillerie</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.assasin.etat" value={{data.data.data.effet.assasin.etat}}>Assassin</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.assasin.valeur" type="number" value="{{data.data.data.effet.assasin.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.assistance.etat" value={{data.data.data.effet.assistance.etat}}>Assistance</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.barrage.etat" value={{data.data.data.effet.barrage.etat}}>Barrage</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.barrage.valeur" type="number" value="{{data.data.data.effet.barrage.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.cadence.etat" value={{data.data.data.effet.cadence.etat}}>Cadence</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.cadence.valeur" type="number" value="{{data.data.data.effet.cadence.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.chargeur.etat" value={{data.data.data.effet.chargeur.etat}}>Chargeur</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.chargeur.valeur" type="number" value="{{data.data.data.effet.chargeur.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.choc.etat" value={{data.data.data.effet.choc.etat}}>Choc</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.choc.valeur" type="number" value="{{data.data.data.effet.choc.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.defense.etat" value={{data.data.data.effet.defense.etat}}>Défense</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.defense.valeur" type="number" value="{{data.data.data.effet.defense.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.degcon.etat" value={{data.data.data.effet.degcon.etat}}>Dégat continu</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.degcon.valeur" type="number" value="{{data.data.data.effet.degcon.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.2main.etat" value={{data.data.data.effet.2main.etat}}>Deux main</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.demoralisant.etat" value={{data.data.data.effet.demoralisant.etat}}>Démoralisant</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.designation.etat" value={{data.data.data.effet.designation.etat}}>Désignation</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.destructeur.etat" value={{data.data.data.effet.destructeur.etat}}>Destructeur</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.destructeur.etat" value={{data.data.data.effet.destructeur.etat}}>Destructeur</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.dispertion.etat" value={{data.data.data.effet.dispertion.etat}}>Dispertion</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.dispertion.valeur" type="number" value="{{data.data.data.effet.dispertion.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.chaine.etat" value={{data.data.data.effet.chaine.etat}}>En chaine</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.esperance.etat" value={{data.data.data.effet.esperance.etat}}>Espérance</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.fureur.etat" value={{data.data.data.effet.fureur.etat}}>Fureur</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.ignarm.etat" value={{data.data.data.effet.ignarm.etat}}>Ignore armure</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.igncdf.etat" value={{data.data.data.effet.igncdf.etat}}>Ignore champ de force</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.akimbo.etat" value={{data.data.data.effet.akimbo.etat}}>Jumelé akimbo</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.ambidex.etat" value={{data.data.data.effet.ambidex.etat}}>Jumelé ambidexterie</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.lesté.etat" value={{data.data.data.effet.lesté.etat}}>Lesté</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.lourd.etat" value={{data.data.data.effet.lourd.etat}}>Lourd</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.lumiere.etat" value={{data.data.data.effet.lumiere.etat}}>Lumière</button></td>
            <td class=cellule2 ><input class=champ1 name="data.data.effet.lumiere.valeur" type="number" value="{{data.data.data.effet.lumiere.valeur}}" placeholder=""/></td> 
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.meurtrier.etat" value={{data.data.data.effet.meurtrier.etat}}>Meurtrier</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.obliteration.etat" value={{data.data.data.effet.obliteration.etat}}>Obliteration</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.orfevrerie.etat" value={{data.data.data.effet.orfevrerie.etat}}>Orfévrerie</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.parasitage.etat" value={{data.data.data.effet.parasitage.etat}}>Parasitage</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.parasitage.valeur" type="number" value="{{data.data.data.effet.parasitage.valeur}}" placeholder=""/></td> 
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.penetrant.etat" value={{data.data.data.effet.penetrant.etat}}>Pénétrant</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.penetrant.valeur" type="number" value="{{data.data.data.effet.penetrant.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.perarm.etat" value={{data.data.data.effet.perarm.etat}}>Perce armure</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.perarm.valeur" type="number" value="{{data.data.data.effet.perarm.valeur}}" placeholder=""/></td> 
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.precision.etat" value={{data.data.data.effet.precision.etat}}>Précision</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.réaction.etat" value={{data.data.data.effet.réaction.etat}}>Réaction</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.réaction.valeur" type="number" value="{{data.data.data.effet.réaction.valeur}}" placeholder=""/></td> 
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.silencieux.etat" value={{data.data.data.effet.silencieux.etat}}>Silencieux</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.soumission.etat" value={{data.data.data.effet.soumission.etat}}>Soumission</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.tenebricide.etat" value={{data.data.data.effet.tenebricide.etat}}>Ténébricide</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.tirraf.etat" value={{data.data.data.effet.tirraf.etat}}>Tir en rafale</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.tirsec.etat" value={{data.data.data.effet.tirsec.etat}}>Tir en sécurité</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button type=action  class=champ4 name="data.data.effet.ultraviolence.etat" value={{data.data.data.effet.ultraviolence.etat}}>Ultraviolence</button></td>
            <td class=cellule1 ></td>
            <td class=cellule1 ></td>
            <td class=cellule1 ></td>
        </tr>
    </table>

    <table>
        <tr><th colspan=4>Ameliorations structurelles</th></tr>
        <tr>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.agressive" value={{data.data.ameliorationS.agressive}}>Agressive</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.allegee" value={{data.data.ameliorationS.allegee}}>Allégé</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.assasine" value={{data.data.ameliorationS.assasine}}>Assassine</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.barbelee" value={{data.data.ameliorationS.barbelee}}>Barbelé</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.connectee" value={{data.data.ameliorationS.connectee}}>Connecté</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.electrifiee" value={{data.data.ameliorationS.electrifiee}}>Electrifié</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.indestructible" value={{data.data.ameliorationS.indestructible}}>Indestructible</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.jumelle" value={{data.data.ameliorationS.jumelle}}>Jumelle</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.lumineuse" value={{data.data.ameliorationS.lumineuse}}>Lumineuse</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.massive" value={{data.data.ameliorationS.massive}}>Massive</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.protectrice" value={{data.data.ameliorationS.protectrice}}>Protectrice</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.soeur" value={{data.data.ameliorationS.soeur}}>Soeur</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.sournoise" value={{data.data.ameliorationS.sournoise}}>Sournoise</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.surmesure" value={{data.data.ameliorationS.surmesure}}>Sur mesure</button></td>
            <td class=cellule2 ></td>
            <td class=cellule2 ></td>
        </tr>
    </table>

    <table>
        <tr><th colspan=4>Ameliorations d'ornement</th></tr>
        <tr>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.arairi" value={{data.data.ameliorationO.arairi}}>Arabesques iridescentes</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.armazu" value={{data.data.ameliorationO.armazu}}>Arme azurine</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.armrs" value={{data.data.ameliorationO.armrs}}>Arme rouge sang</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.armgra" value={{data.data.ameliorationO.armgra}}>Armure gravée</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.blason" value={{data.data.ameliorationO.blason}}>Blason du chevalier</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.boucgra" value={{data.data.ameliorationO.boucgra}}>Bouclier gravée</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.chescu" value={{data.data.ameliorationO.chescu}}>Chêne sculpté</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.chromee" value={{data.data.ameliorationO.chromee}}>Chromée</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.code" value={{data.data.ameliorationO.code}}>Code du Knight gravé</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.crane" value={{data.data.ameliorationO.crane}}>Crâne rieur gravé</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.faugra" value={{data.data.ameliorationO.faugra}}>Faucheuse gravée</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.fauplu" value={{data.data.ameliorationO.fauplu}}>Faucon et plumes</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.flasty" value={{data.data.ameliorationO.flasty}}>Flammes stylisées</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.grigra" value={{data.data.ameliorationO.grigra}}>Griffures gravées</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.masbris" value={{data.data.ameliorationO.masbris}}>Masque brisé sculpté</button></td>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationO.roucas" value={{data.data.ameliorationO.roucas}}>Rouage cassés</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class=champ4 name="data.data.ameliorationS.sillon" value={{data.data.ameliorationS.sillon}}>Sillons</button></td>
            <td class=cellule2 ></td>
            <td class=cellule2 ></td>
            <td class=cellule2 ></td>
        </tr>
    </table>
   
</form>