<form class="{{cssClass}}" autocomplete="off">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

    <label>Déscription
        <input name="data.description" type="text" value="{{data.description}}" placeholder=""/>
    </label>

    <label>Dégats
        <input name="data.degats" type="text" value="{{data.degats}}" placeholder=""/>
    </label>

    <label>Violence
        <input name="data.violence" type="text" value="{{data.violence}}" placeholder=""/>
    </label>

    <label>Portée
        <input name="data.portee" type="text" value="{{data.portee}}" placeholder=""/>
    </label>

    <label>Énergie
        <input name="data.energie" type="text" value="{{data.energie}}" placeholder=""/>
    </label>

    <label>Effet
        <input name="data.effet" type="text" value="{{data.effet}}" placeholder=""/>
    </label>

    <label>PG
        <input name="data.pg" type="text" value="{{data.pg}}" placeholder=""/>
    </label>

</form>