<form class="{{cssClass}}" autocomplete="off">

    <style type="text/css">
        .on  { background:#f89406;color:#3A3F44 }
        .off { background:#3A3F44;color:#f89406 }
    </style>
    <script language="javascript">
        function toggleState(item){
           if(item.className == "on") {
              item.className="off";
           } else {
              item.className="on";
           }
        }
     </script>

    
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </h1>
        

    <div class=defense >
        <label class=label300>PG</label>
        <input class=champ2 name="data.pg" type="text" value="{{data.data.pg}}" placeholder=""/>
    </div>


    <div class=defense >
    <label>Déscription</label>
    </br>
    <textarea rows=5 name="data.description">{{data.data.description}}</textarea>
    </div>


    <div class=defense>
    <label>Dégats</label>
        <input name="data.degats" type="text" value="{{data.data.degats}}" placeholder=""/>
        <p>D6+</p>
        <input name="data.special.bondeg.degpur" type="text" value="{{data.data.special.bondeg.degpur}}" placeholder=""/>
    
    <label>Violence</label>
        <input name="data.violence" type="text" value="{{data.data.violence}}" placeholder=""/>
        <p>D6+</p>
        <input name="data.special.bonvio.degpur" type="text" value="{{data.data.special.bonvio.degpur}}" placeholder=""/>
    </div>
    <div class=defense>
    <label class=label300>Portée</label>
    <select class=champ2 name="data.portee" value="{{data.data.portee}}">
        {{#select data.data.portee}}
        <option value="Contact">Contact (0-2m)</option>
        <option value="Courte">Courte (2 à 15m)</option>
        <option value="Moyenne">Moyenne (15 à 25m)</option>
        <option value="Longue">Longue (50 à 300m)</option>
        <option value="Lointaine">Lointaine (+ de 300m)</option>
        {{/select}}
    </select>
   
    <label>Énergie</label>
        <input name="data.energie" type="text" value="{{data.data.energie}}" placeholder=""/>
    </div>

    <table>
        <tr><th colspan=4>Effets</th></tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="anti-anatheme">Anti-anathème</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="anti-vehicule">Anti-véhicule</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="artillerie">Artillerie</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)"id="assassin">Assassin</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.assasin.valeur" type="number" value="{{data.data.data.effet.assasin.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="Assistance">Assistance</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="barrage">Barrage</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.barrage.valeur" type="number" value="{{data.data.data.effet.barrage.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="cadence" >Cadence</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.cadence.valeur" type="number" value="{{data.data.data.effet.cadence.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="chargeur" >Chargeur</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.chargeur.valeur" type="number" value="{{data.data.data.effet.chargeur.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="choc">Choc</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.choc.valeur" type="number" value="{{data.data.data.effet.choc.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="defense">Défense</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.defense.valeur" type="number" value="{{data.data.data.effet.defense.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="degcont" >Dégat continu</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.degcon.valeur" type="number" value="{{data.data.data.effet.degcon.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="deuxma" >Deux main</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="demoralisant" >Démoralisant</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="designation" >Désignation</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="destructeur" >Destructeur</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="dispertion" >Dispertion</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="en_chaine" >En chaine</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.dispertion.valeur" type="number" value="{{data.data.data.effet.dispertion.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="esperance">Espérance</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="fureur"  >Fureur</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="ignarm"  >Ignore armure</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="igncdf"  >Ignore CDF</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="jumaki" >Jumelé akimbo</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="jumambi" >Jumelé ambid.</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="leste" >Lesté</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="lourd" >Lourd</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="lumiere" >Lumière</button></td>
            <td class=cellule2 ><input class=champ1 name="data.data.effet.lumiere.valeur" type="number" value="{{data.data.data.effet.lumiere.valeur}}" placeholder=""/></td>        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="meurtrier" >Meurtrier</button></td>
            <td class=cellule2 ></td> 
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="obliteration" >Obliteration</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="orfevrerie" >Orfévrerie</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="parasitage" >Parasitage</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.parasitage.valeur" type="number" value="{{data.data.data.effet.parasitage.valeur}}" placeholder=""/></td> 
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="penetrant" >Pénétrant</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.penetrant.valeur" type="number" value="{{data.data.data.effet.penetrant.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="perarm" >Perce armure</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.perarm.valeur" type="number" value="{{data.data.data.effet.perarm.valeur}}" placeholder=""/></td> 
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="precision" >Précision</button></td>
            <td class=cellule1 ></td> 
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="reaction" >Réaction</button></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.réaction.valeur" type="number" value="{{data.data.data.effet.réaction.valeur}}" placeholder=""/></td> 
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="silencieux" >Silencieux</button></td>
            <td class=cellule1 ></td> 
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="soumission">Soumission</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="tenebricide" >Ténébricide</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="tirraf"  >Tir en rafale</button></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="tirsec"  >Tir en sécurité</button></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="ultraviolence"  >Ultraviolence</button></td>
            <td class=cellule1 ></td>
        </tr>
    </table>

    <table>
        <tr><th colspan=4>Ameliorations structurelles</th></tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="agressive" >Agressive</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="allege" >Allégé</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="assassine" >Assassine</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="barbele" >Barbelé</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="connecte" >Connecté</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="electrifie" >Electrifié</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="indestructible" >Indestructible</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="jumelle" >Jumelle</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="lumineuse" >Lumineuse</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="massive" >Massive</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="protectrice" >Protectrice</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="soeur" >Soeur</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="sournoise" >Sournoise</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="surmesure" >Sur mesure</button></td>
            <td class=cellule2 ></td>
            <td class=cellule2 ></td>
        </tr>
    </table>

    <table>
        <tr><th colspan=4>Ameliorations d'ornement</th></tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="arairi">Arabesques iridescentes</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="armazu">Arme azurine</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="armros">Arme rouge sang</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="armgra">Armure gravée</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="blache">Blason du chevalier</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="blogra">Bouclier gravée</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="chescu">Chêne sculpté</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="chromé">Chromée</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="cdukgr">Code du Knight gravé</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="crrigr">Crâne rieur gravé</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="faugra">Faucheuse gravée</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="fauplu">Faucon et plumes</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="flasty">Flammes stylisées</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="grigra">Griffures gravées</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="mabrsc">Masque brisé sculpté</button></td>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="roucas">Rouage cassés</button></td>
        </tr>
        <tr>
            <td class=cellule2 ><button class="off" onclick="toggleState(this)" id="sillon">Sillons</button></td>
            <td class=cellule2 ></td>
            <td class=cellule2 ></td>
            <td class=cellule2 ></td>
        </tr>
    </table>
   
</form>