<form class="{{cssClass}}" autocompvare="off">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </h1>
        

    <div class=defense >
        <label class=label300>PG</label>
        <input class=champ2 name="data.pg" type="text" value="{{data.data.pg}}" placeholder=""/>
    </div>


    <div class=defense >
    <label>Déscription</label>
    </br>
    <textarea rows=5 name="data.description">{{data.data.description}}</textarea>
    </div>


    <div class=defense>
    <label>Dégats</label>
        <input name="data.degats" type="text" value="{{data.data.degats}}" placeholder=""/>
        <p>D6+</p>
        <input name="data.special.bondeg.degpur" type="text" value="{{data.data.special.bondeg.degpur}}" placeholder=""/>
    
    <label>Violence</label>
        <input name="data.violence" type="text" value="{{data.data.violence}}" placeholder=""/>
        <p>D6+</p>
        <input name="data.special.bonvio.degpur" type="text" value="{{data.data.special.bonvio.degpur}}" placeholder=""/>
    </div>
    <div class=defense>
    <label class=label300>Portée</label>
    <select class=champ2 name="data.portee" value="{{data.data.portee}}">
        {{#select data.data.portee}}
        <option value="Contact">Contact (0-2m)</option>
        <option value="Courte">Courte (2 à 15m)</option>
        <option value="Moyenne">Moyenne (15 à 25m)</option>
        <option value="Longue">Longue (50 à 300m)</option>
        <option value="Lointaine">Lointaine (+ de 300m)</option>
        {{/select}}
    </select>
   
    <label>Énergie</label>
        <input name="data.energie" type="text" value="{{data.data.energie}}" placeholder=""/>
    </div>

    <table>
        <tr><th colspan=4>Effets</th></tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-a" name="data.data.effet.anti-anatheme.etat" {{checked data.data.data.effet.anti-anatheme.etat}}><label for="effet-a">Anti-anathème</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-b" name="data.data.effet.anti-vehicule.etat" {{checked data.data.data.effet.anti-vehicule.etat}}><label for="effet-b">Anti-véhicule</label></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-c" name="data.data.effet.artillerie.etat" {{checked data.data.data.effet.artillerie.etat}}><label for="effet-c">Artillerie</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-d" name="data.data.effet.assasin.etat" {{checked data.data.data.effet.assasin.etat}}><label for="effet-d">Assassin</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.assasin.valeur" type="number" value="{{data.data.data.effet.assasin.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-e" name="data.data.effet.Assistance.etat" {{checked data.data.data.effet.Assistance.etat}}><label for="effet-e">Assistance</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-f" name="data.data.effet.barrage.etat" {{checked data.data.data.effet.barrage.etat}}><label for="effet-f">Barrage</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.barrage.valeur" type="number" value="{{data.data.data.effet.barrage.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-g" name="data.data.effet.cadence.etat" {{checked data.data.data.effet.cadence.etat}}><label for="effet-g">Cadence</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.cadence.valeur" type="number" value="{{data.data.data.effet.cadence.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-h" name="data.data.effet.chargeur.etat" {{checked data.data.data.effet.chargeur.etat}}><label for="effet-h">Chargeur</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.chargeur.valeur" type="number" value="{{data.data.data.effet.chargeur.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-i" name="data.data.effet.choc.etat" {{checked data.data.data.effet.choc.etat}}><label for="effet-i">Choc</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.choc.valeur" type="number" value="{{data.data.data.effet.choc.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-j" name="data.data.effet.defense.etat" {{checked data.data.data.effet.defense.etat}}><label for="effet-j">Défense</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.defense.valeur" type="number" value="{{data.data.data.effet.defense.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-k" name="data.data.effet.degcon.etat" {{checked data.data.data.effet.degcon.etat}}><label for="effet-k">Dégat continu</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.degcon.valeur" type="number" value="{{data.data.data.effet.degcon.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-l" name="data.data.effet.2main.etat" {{checked data.data.data.effet.2main.etat}}><label for="effet-l">Deux main</label></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-m" name="data.data.effet.demoralisant.etat" {{checked data.data.data.effet.demoralisant.etat}}><label for="effet-m">Démoralisant</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-n" name="data.data.effet.designation.etat" {{checked data.data.data.effet.designation.etat}}><label for="effet-n">Désignation</label></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-o" name="data.data.effet.destructeur.etat" {{checked data.data.data.effet.destructeur.etat}}><label for="effet-o">Destructeur</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-p" name="data.data.effet.dispertion.etat" {{checked data.data.data.effet.dispertion.etat}}><label for="effet-p">Dispertion</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.dispertion.valeur" type="number" value="{{data.data.data.effet.dispertion.valeur}}" placeholder=""/></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-q" name="data.data.effet.chaine.etat" {{checked data.data.data.effet.chaine.etat}}><label for="effet-q">En chaine</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-r" name="data.data.effet.esperance.etat" {{checked data.data.data.effet.esperance.etat}}><label for="effet-r">Espérance</label></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-s" name="data.data.effet.fureur.etat" {{checked data.data.data.effet.fureur.etat}}><label for="effet-s">Fureur</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-t" name="data.data.effet.ignarm.etat" {{checked data.data.data.effet.ignarm.etat}}><label for="effet-t">Ignore armure</label></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-u" name="data.data.effet.igncdf.etat" {{checked data.data.data.effet.igncdf.etat}}><label for="effet-u">Ignore CDF</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-v" name="data.data.effet.akimbo.etat" {{checked data.data.data.effet.akimbo.etat}}><label for="effet-v">Jumelé akimbo</label></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-w" name="data.data.effet.ambidex.etat" {{checked data.data.data.effet.ambidex.etat}}><label for="effet-w">Jumelé ambid.</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-x" name="data.data.effet.lesté.etat" {{checked data.data.data.effet.lesté.etat}}><label for="effet-x">Lesté</label></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-y" name="data.data.effet.lourd.etat" {{checked data.data.data.effet.lourd.etat}}><label for="effet-y">Lourd</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-z" name="data.data.effet.lumiere.etat" {{checked data.data.data.effet.lumiere.etat}}><label for="effet-z">Lumière</label></td>
            <td class=cellule2 ><input class=champ1 name="data.data.effet.lumiere.valeur" type="number" value="{{data.data.data.effet.lumiere.valeur}}" placeholder=""/></td>        
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-00" name="data.data.effet.meurtrier.etat" {{checked data.data.data.effet.meurtrier.etat}}><label for="effet-00">Meurtrier</label></td>
            <td class=cellule2 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-01" name="data.data.effet.obliteration.etat" {{checked data.data.data.effet.obliteration.etat}}><label for="effet-01">Obliteration</label></td>
             <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-02" name="data.data.effet.orfevrerie.etat" {{checked data.data.data.effet.orfevrerie.etat}}><label for="effet-02">Orfévrerie</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-03" name="data.data.effet.parasitage.etat" {{checked data.data.data.effet.parasitage.etat}}><label for="effet-03">Parasitage</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.parasitage.valeur" type="number" value="{{data.data.data.effet.parasitage.valeur}}" placeholder=""/></td> 
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-04" name="data.data.effet.penetrant.etat" {{checked data.data.data.effet.penetrant.etat}}><label for="effet-04">Pénétrant</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.penetrant.valeur" type="number" value="{{data.data.data.effet.penetrant.valeur}}" placeholder=""/></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-05" name="data.data.effet.perarm.etat" {{checked data.data.data.effet.perarm.etat}}><label for="effet-05">Perce armure</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.perarm.valeur" type="number" value="{{data.data.data.effet.perarm.valeur}}" placeholder=""/></td> 
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-06" name="data.data.effet.precision.etat" {{checked data.data.data.effet.precision.etat}}><label for="effet-06">Précision</label></td>
            <td class=cellule1 ></td> 
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-07" name="data.data.effet.réaction.etat" {{checked data.data.data.effet.réaction.etat}}><label for="effet-07">Réaction</label></td>
            <td class=cellule1 ><input class=champ1 name="data.data.effet.réaction.valeur" type="number" value="{{data.data.data.effet.réaction.valeur}}" placeholder=""/></td> 
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-08" name="data.data.effet.silencieux.etat" {{checked data.data.data.effet.silencieux.etat}}><label for="effet-08">Silencieux</label></td>
            <td class=cellule1 ></td> 
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-09" name="data.data.effet.soumission.etat" {{checked data.data.data.effet.soumission.etat}}><label for="effet-09">Soumission</label></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-10" name="data.data.effet.tenebricide.etat" {{checked data.data.data.effet.tenebricide.etat}}><label for="effet-10">Ténébricide</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-11" name="data.data.effet.tirraf.etat" {{checked data.data.data.effet.tirraf.etat}}><label for="effet-11">Tir en rafale</label></td>
            <td class=cellule1 ></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-12" name="data.data.effet.tirsec.etat" {{checked data.data.data.effet.tirsec.etat}}><label for="effet-12">Tir en sécurité</label></td>
            <td class=cellule1 ></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="effet-13" name="data.data.effet.ultraviolence.etat" {{checked data.data.data.effet.ultraviolence.etat}}><label for="effet-13">Ultraviolence</label></td>
            <td class=cellule1 ></td>
        </tr>
    </table>

    <table>
        <tr><th colspan=4>Ameliorations d'armes</th></tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-a" name="data.data.ameliorationA.balgrap.etat" {{checked data.data.data.ameliorationA.balgrap.etat}}><label for="amearm-a">Balle Grappes</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-b" name="data.data.ameliorationA.canlon.etat" {{checked data.data.data.ameliorationA.canlon.etat}}><label for="amearm-b">Canon long</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-c" name="data.data.ameliorationA.canrac.etat" {{checked data.data.data.ameliorationA.canrac.etat}}><label for="amearm-c">Canon raccourci</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-d" name="data.data.ameliorationA.chadou.etat" {{checked data.data.data.ameliorationA.chadou.etat}}><label for="amearm-d">Chamb. double</label></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-e" name="data.data.ameliorationA.intgui.etat" {{checked data.data.data.ameliorationA.intgui.etat}}><label for="amearm-e">Inter. guidage</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-f" name="data.data.ameliorationA.akimbo.etat" {{checked data.data.data.ameliorationA.akimbo.etat}}><label for="amearm-f">Akimbo</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-g" name="data.data.ameliorationA.ambidexterie.etat" {{checked data.data.data.ameliorationA.ambidexterie.etat}}><label for="amearm-g">Ambidexterie</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-h" name="data.data.ameliorationA.lunint.etat" {{checked data.data.data.ameliorationA.lunint.etat}}><label for="amearm-h">Lunette intel.</label></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-i" name="data.data.ameliorationA.munhv.etat" {{checked data.data.data.ameliorationA.munhv.etat}}><label for="amearm-i">Mun. à H.V.</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-j" name="data.data.ameliorationA.mundro.etat" {{checked data.data.data.ameliorationA.mundro.etat}}><label for="amearm-j">Mun. drone</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-k" name="data.data.ameliorationA.munexp.etat" {{checked data.data.data.ameliorationA.munexp.etat}}><label for="amearm-k">Mun. explo.</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-l" name="data.data.ameliorationA.muniem.etat" {{checked data.data.data.ameliorationA.muniem.etat}}><label for="amearm-l">Mun. IEM</label></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-m" name="data.data.ameliorationA.munnlt.etat" {{checked data.data.data.ameliorationA.munnlt.etat}}><label for="amearm-m">Mun. non létale</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-n" name="data.data.ameliorationA.munsub.etat" {{checked data.data.data.ameliorationA.munsub.etat}}><label for="amearm-n">Mun. subs.</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-o" name="data.data.ameliorationA.poilas.etat" {{checked data.data.data.ameliorationA.poilas.etat}}><label for="amearm-o">Pointeur laser</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-p" name="data.data.ameliorationA.proarm.etat" {{checked data.data.data.ameliorationA.proarm.etat}}><label for="amearm-p">Prote. d'arme</label></td>
        </tr>
        <tr>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-q" name="data.data.ameliorationA.revome.etat" {{checked data.data.data.ameliorationA.revome.etat}}><label for="amearm-q">Revêt. omega</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-r" name="data.data.ameliorationA.revalp.etat" {{checked data.data.data.ameliorationA.revalp.etat}}><label for="amearm-r">Struc. alpha</label></td>
            <td class=cellule2 ><input type="checkbox" class="effet demoyes" id="amearm-s" name="data.data.ameliorationA.sysref.etat" {{checked data.data.data.ameliorationA.sysref.etat}}><label for="amearm-s">Sys. de refroi.</label></td>
            <td class=cellule2 ></td>
        </tr>
    </table>

   
</form>