<form class="{{cssClass}}" autocomplete="off">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

 

       <!-- Slots -->


       <div class=attributs >
        <label>Slots</label>
            <ul>
                <label>Tête
                    <input name="data.slots.tete" type="text" value="{{data.data.slots.tete}}" placeholder=""/>
                </label>

                <label>Bras gauche
                    <input name="data.slots.brasgauche" type="text" value="{{data.data.slots.brasgauche}}" placeholder=""/>
                </label>

                <label>Bras droit
                    <input name="data.slots.brasdroit" type="text" value="{{data.data.slots.brasdroit}}" placeholder=""/>
                </label>

                <label>Torse
                    <input name="data.slots.torse" type="text" value="{{data.data.slots.torse}}" placeholder=""/>
                </label>

                <label>Jambe gauche
                    <input name="data.slots.jambegauche" type="text" value="{{data.data.slots.jambegauche}}" placeholder=""/>
                </label>

                <label>Jambe droite
                    <input name="data.slots.jambedroite" type="text" value="{{data.data.slots.jambedroite}}" placeholder=""/>
                </label>
            </ul>
    </div>

    <!-- caracteristique -->

    <div class=cdi>
        <label>Point d'armure</label>
        <input name="data.pointdarmure" type="text" value="{{data.data.pointdarmure}}" placeholder=""/>
    

        <label>Point d'énergie</label>
        <input name="data.pointdenergie" type="text" value="{{data.data.pointdenergie}}" placeholder=""/>

        <label>Champ de force</label>
        <input name="data.champdeforce" type="text" value="{{data.data.champdeforce}}" placeholder=""/>
    </div>

 

    <!-- overdrive -->

    <div class=cdi>
        <label>Overdrive</label>
        <ul>

            <input name="data.overdrives.od1" type="text" value="{{data.data.overdrives.od1}}" placeholder=""/>
            
            <input name="data.overdrives.od2" type="text" value="{{data.data.overdrives.od2}}" placeholder=""/>
            
            <input name="data.overdrives.od3" type="text" value="{{data.data.overdrives.od3}}" placeholder=""/>
              
            <input name="data.overdrives.od4" type="text" value="{{data.data.overdrives.od4}}" placeholder=""/>

        </ul>

    </div>

<!-- description -->
<div class=defense >
    <label>Déscription</label>
        </br>
        <textarea rows=5 name="data.description">{{data.data.description}}</textarea>
</div>
<!--Capacité-->
<div class=defense >
    <label>Capacité</label>
        </br>
        <textarea rows=5 name="data.capacite">{{data.data.capacite}}</textarea>
</div>
<!--evolution-->
<div class=defense>
    <label>Evolution</label>
    <ul>
        <label>150 PG accumulés</label>
        <textarea rows=3 name="data.evolutions.150PG">{{data.data.evolutions.150PG}}</textarea>
        <label>200 PG accumulés</label>
        <textarea rows=3 name="data.evolutions.200PG">{{data.data.evolutions.200PG}}</textarea>
        <label>250 PG accumulés</label>
        <textarea rows=3 name="data.evolutions.250PG">{{data.data.evolutions.250PG}}</textarea>
          
    </ul>

</div>
            
</form>