<form class="{{cssClass}}" autocomplete="off">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

    <label>Déscription
        <input name="data.description" type="text" value="{{data.description}}" placeholder=""/>
    </label>

    <label>Slots
        <input name="data.slots" type="text" value="{{data.slots}}" placeholder=""/>
    </label>

    <label>Activation
        <input name="data.activation" type="text" value="{{data.activation}}" placeholder=""/>
    </label>

    <label>Durée
        <input name="data.duree" type="text" value="{{data.duree}}" placeholder=""/>
    </label>

    <label>Portée
        <input name="data.portee" type="text" value="{{data.portee}}" placeholder=""/>
    </label>

    <label>Énergie
        <input name="data.energie" type="text" value="{{data.energie}}" placeholder=""/>
    </label>

    <label>PG
        <input name="data.pg" type="text" value="{{data.pg}}" placeholder=""/>
    </label>

</form>