<form class="{{cssClass}}" autocomplete="off">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>

    <!-- Overdrive -->


    <li>

        <label>Déscription
        <input name="data.description" type="text" value="{{data.description}}" placeholder="" />
        </label>

        <label>Niv 1
        <input name="data.niv1" type="text" value="{{data.niv1}}" placeholder=""/>
    </label>

        <label>Niv 2
        <input name="data.niv2" type="text" value="{{data.niv2}}" placeholder=""/>
    </label>

        <label>Niv 3
        <input name="data.niv3" type="text" value="{{data.niv3}}" placeholder=""/>
    </label>

        <label>Niv 4
        <input name="data.niv4" type="text" value="{{data.niv4}}" placeholder=""/>
    </label>

        <label>Niv 5
        <input name="data.niv5" type="text" value="{{data.niv5}}" placeholder=""/>
    </label>
    </li>

</form>