<!-- Slots -->


<div >
    <label>Slots</label>
    <ul>
        <label >Tête : {{item.data.data.slots.tete}}</label>

        <label >Bras gauche : {{item.data.data.slots.brasgauche}}</label>

        <label >Bras droit : {{item.data.data.slots.brasdroit}}</label>

        <label >Torse : {{item.data.data.slots.torse}}</label>

        <label >Jambe gauche : {{item.data.data.slots.jambegauche}}</label>

        <label >Jambe droite : {{item.data.data.slots.jambedroite}}</label>
    </ul>
</div>

<!-- caracteristique -->

<div >
    <label >Point d'armure : {{item.data.data.pointdarmure}}</label>
    <input  name="data.pointdarmureb" type="number" value="{{data.data.pointdarmureb}}" placeholder="0" />


    <label >Point d'énergie : {{item.data.data.pointdenergie}}</label>
    <input  name="data.pointdenergieb" type="number" value="{{data.data.pointdenergieb}}"
        placeholder="0" />

    <label >Champ de force : {{item.data.data.champdeforce}}</label>
    <input  name="data.champdeforceb" type="number" value="{{data.data.champdeforceb}}" placeholder="0" />
</div>



<!-- overdrive -->

<div >
    <label >Overdrive</label>
    <ul>
        <label >{{item.data.data.overdrives.od1}}</label>
        <label >{{item.data.data.overdrives.od2}}</label>
        <label >{{item.data.data.overdrives.od3}}</label>
        <label >{{item.data.data.overdrives.od4}}</label>
    </ul>

</div>