
       <!-- Slots -->


       <div class=attributs >
        <label>Slots</label>
            <ul>
                <label class=label300>Tête : {{item.data.data.slots.tete}}</label>

                <label class=label300>Bras gauche : {{item.data.data.slots.brasgauche}}</label>

                <label class=label300>Bras droit : {{item.data.data.slots.brasdroit}}</label>

                <label class=label300>Torse : {{item.data.data.slots.torse}}</label>

                <label class=label300>Jambe gauche : {{item.data.data.slots.jambegauche}}</label>

                <label class=label300>Jambe droite : {{item.data.data.slots.jambedroite}}</label>
            </ul>
    </div>

    <!-- caracteristique -->

    <div class=cdi>
        <label class=label300>Point d'armure : {{item.data.data.pointdarmure}}</label>
        <input class=label100 name="data.pointdarmureb" type="number" value="{{data.data.pointdarmureb}}" placeholder="0"/>
    

        <label class=label300>Point d'énergie : {{item.data.data.pointdenergie}}</label>
        <input class=label100 name="data.pointdenergieb" type="number" value="{{data.data.pointdenergieb}}" placeholder="0"/>

        <label class=label300>Champ de force : {{item.data.data.champdeforce}}</label>
        <input class=label100 name="data.champdeforceb" type="number" value="{{data.data.champdeforceb}}" placeholder="0"/>
    </div>

 

    <!-- overdrive -->

    <div class=cdi>
        <label class=label300>Overdrive</label>
        <ul>
            <label class=label300>{{item.data.data.overdrives.od1}}</label>
            <label class=label300>{{item.data.data.overdrives.od2}}</label>
            <label class=label300>{{item.data.data.overdrives.od3}}</label>
            <label class=label300>{{item.data.data.overdrives.od4}}</label>
        </ul>

    </div>